<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navBar">

        <div class="nav-wrapper">
            <a href="home" class="brand-logo">BBApp</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="home page">Home page</a></li>
                <li><a href="customers">Customers List</a></li>
            </ul>
        </div>
    </nav>

    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Basic Banking app is a responsive and customer friendly app that allows the user to transfer money to another user.</p>
      </div>

      <div class="about-section-2">
        <h2>Vision and Mission</h2>
        <p>Basic Banking app aims to deliver a simple yet highly functional app that allows users to execute secure transactions .</p>

      </div>

      <div class="about-section-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem magni quod, perspiciatis quam veniam ab suscipit soluta sed commodi laborum est rem officia illo aliquid et nam vel odio eius.
      </div>
    
</body>
</html>